<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment=common-header>
<meta charset="UTF-8" />
<title>Crypto Portfolio</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/portfolio.css" th:href="@{/css/portfolio.css}" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
</html>